tutorials/can-open-protocol-node-red/CANopen.json
[
    {
        "id": "daff2f73.bd09f",
        "type": "tab",
        "label": "CANopen",
        "disabled": false,
        "info": ""
    },
    {
        "id": "f074dc414b66117b",
        "type": "group",
        "z": "daff2f73.bd09f",
        "name": "",
        "style": {
            "label": true
        },
        "nodes": [
            "9c116c55.6da9c8",
            "9475933668b1e5f5",
            "c9cd0f6a4868f860",
            "83b915615623aff9",
            "f907e217cc5fa0c6",
            "3b965c72968a20db",
            "05e8eb65ac8e8ef2",
            "c925912a5223afed",
            "c041f61228e6e03e"
        ],
        "x": 194,
        "y": 159,
        "w": 912,
        "h": 262
    },
    {
        "id": "89954bf5fb7c3f9b",
        "type": "group",
        "z": "daff2f73.bd09f",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "ff5a84a7df6f8f92",
            "8fd4fe7adc7ed640",
            "cc67fef455c52d8d",
            "ae2b35942ca18750",
            "3f341dbf873ed7ce",
            "74b2b506f9e60d28",
            "86b7f7ca16efe2b6",
            "c2d5e2145ae9daac",
            "53a99ea1581b194e"
        ],
        "x": 194,
        "y": 459,
        "w": 912,
        "h": 262
    },
    {
        "id": "9c116c55.6da9c8",
        "type": "websocket out",
        "z": "daff2f73.bd09f",
        "g": "f074dc414b66117b",
        "name": "",
        "server": "342962821bb94933",
        "client": "",
        "x": 890,
        "y": 240,
        "wires": []
    },
    {
        "id": "9475933668b1e5f5",
        "type": "function",
        "z": "daff2f73.bd09f",
        "g": "f074dc414b66117b",
        "name": "Read X from E",
        "func": "msg.payload = {\n    \"Id\": 1546,\n    \"IsExtendedFrameFormat\": false,\n    \"Data\": [64, 16, 96, 0, 0, 0 , 0 ,0]\n};\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 220,
        "wires": [
            [
                "9c116c55.6da9c8"
            ]
        ]
    },
    {
        "id": "c9cd0f6a4868f860",
        "type": "inject",
        "z": "daff2f73.bd09f",
        "g": "f074dc414b66117b",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "2",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 300,
        "y": 240,
        "wires": [
            [
                "9475933668b1e5f5",
                "83b915615623aff9"
            ]
        ]
    },
    {
        "id": "83b915615623aff9",
        "type": "function",
        "z": "daff2f73.bd09f",
        "g": "f074dc414b66117b",
        "name": "Read Y from E",
        "func": "msg.payload = {\n    \"Id\": 1546,\n    \"IsExtendedFrameFormat\": false,\n    \"Data\": [64, 32, 96, 0, 0, 0 , 0 ,0]\n};\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 280,
        "wires": [
            [
                "9c116c55.6da9c8"
            ]
        ]
    },
    {
        "id": "3b965c72968a20db",
        "type": "function",
        "z": "daff2f73.bd09f",
        "g": "f074dc414b66117b",
        "name": "function 5",
        "func": "msg.payload = JSON.parse(msg.payload);\nvar sensorID = msg.payload.ID;\nvar realID = sensorID - 1408;\nvar info = \"\"\nmsg.sensor = 0;\n\n\nswitch (realID) {\n    case 14:\n        info += \"E: \";\n        msg.sensor = 14;\n        break;\n    case 12:\n        info += \"C: \";\n        msg.sensor = 12;\n        break;\n    case 11:\n        info += \"B: \";\n        msg.sensor = 11;\n        break;\n    case 10:\n        info += \"A: \";\n        msg.sensor = 10;\n        break;\n}\nvar receivedData = msg.payload.Data;\nif (receivedData[1] == 16 && receivedData[2] == 96) {\n    var value = parseSensorData(receivedData);\n    msg.X = value.toFixed(2);\n    info += \"X = \" + value.toFixed(2);\n}\n\nif (receivedData[1] == 32 && receivedData[2] == 96) {\n    var value = parseSensorData(receivedData);\n    msg.Y = value.toFixed(2);\n    info += \"Y = \" + value.toFixed(2);\n}\nmsg.payload = info;\nreturn msg;\n\nfunction parseSensorData(receivedData) {\n    var binaryValue = pad8(parseInt(receivedData[5], 10).toString(2)) + pad8(parseInt(receivedData[4], 10).toString(2));\n    var sign = binaryValue[0];\n    var binarySensorValue = binaryValue.substr(1);\n    var decimalValue = parseInt(binarySensorValue, 2);\n    if (sign == \"1\") decimalValue = decimalValue * -1;\n    else decimalValue = decimalValue * 1;\n    if (decimalValue < 0) decimalValue = (decimalValue + 32767) * -1;\n    return decimalValue * 0.01;\n}\n\nfunction pad8(num) {\n    var prefix = \"\";\n    for (var i = num.length; i < 8; i++) {\n        prefix += \"0\";\n    }\n    return prefix + num;\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 340,
        "wires": [
            [
                "05e8eb65ac8e8ef2"
            ]
        ]
    },
    {
        "id": "05e8eb65ac8e8ef2",
        "type": "debug",
        "z": "daff2f73.bd09f",
        "g": "f074dc414b66117b",
        "name": "debug 23",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 640,
        "y": 340,
        "wires": []
    },
    {
        "id": "c925912a5223afed",
        "type": "debug",
        "z": "daff2f73.bd09f",
        "g": "f074dc414b66117b",
        "name": "debug 24",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 440,
        "y": 380,
        "wires": []
    },
    {
        "id": "c041f61228e6e03e",
        "type": "comment",
        "z": "daff2f73.bd09f",
        "g": "f074dc414b66117b",
        "name": "TMM88D-PCI090",
        "info": "",
        "x": 1000,
        "y": 200,
        "wires": []
    },
    {
        "id": "ff5a84a7df6f8f92",
        "type": "websocket out",
        "z": "daff2f73.bd09f",
        "g": "89954bf5fb7c3f9b",
        "name": "",
        "server": "342962821bb94933",
        "client": "",
        "x": 890,
        "y": 540,
        "wires": []
    },
    {
        "id": "8fd4fe7adc7ed640",
        "type": "inject",
        "z": "daff2f73.bd09f",
        "g": "89954bf5fb7c3f9b",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "2",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 300,
        "y": 540,
        "wires": [
            [
                "74b2b506f9e60d28"
            ]
        ]
    },
    {
        "id": "cc67fef455c52d8d",
        "type": "comment",
        "z": "daff2f73.bd09f",
        "g": "89954bf5fb7c3f9b",
        "name": "AHM36A-BDCC014X12",
        "info": "",
        "x": 980,
        "y": 500,
        "wires": []
    },
    {
        "id": "f907e217cc5fa0c6",
        "type": "websocket in",
        "z": "daff2f73.bd09f",
        "d": true,
        "g": "f074dc414b66117b",
        "name": "can-b",
        "server": "342962821bb94933",
        "client": "",
        "x": 270,
        "y": 340,
        "wires": [
            [
                "3b965c72968a20db",
                "c925912a5223afed"
            ]
        ]
    },
    {
        "id": "ae2b35942ca18750",
        "type": "websocket in",
        "z": "daff2f73.bd09f",
        "g": "89954bf5fb7c3f9b",
        "name": "can-b",
        "server": "342962821bb94933",
        "client": "",
        "x": 270,
        "y": 640,
        "wires": [
            [
                "53a99ea1581b194e",
                "c2d5e2145ae9daac"
            ]
        ]
    },
    {
        "id": "3f341dbf873ed7ce",
        "type": "debug",
        "z": "daff2f73.bd09f",
        "g": "89954bf5fb7c3f9b",
        "name": "debug 26",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 740,
        "y": 640,
        "wires": []
    },
    {
        "id": "74b2b506f9e60d28",
        "type": "function",
        "z": "daff2f73.bd09f",
        "g": "89954bf5fb7c3f9b",
        "name": "Read Position from E",
        "func": "msg.payload = {\n    \"Id\": 1541,\n    \"Data\": [64, 4, 96, 0, 0, 0 , 0 ,0]\n};\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 540,
        "wires": [
            [
                "ff5a84a7df6f8f92"
            ]
        ]
    },
    {
        "id": "86b7f7ca16efe2b6",
        "type": "function",
        "z": "daff2f73.bd09f",
        "g": "89954bf5fb7c3f9b",
        "name": "function 6",
        "func": "var sensorID = msg.payload.ID;\nvar info = \"\"\nmsg.sensor = 5;\n\nvar receivedData = msg.payload.Data;\n\n// position data\nif (receivedData[1] == 4 && receivedData[2] == 96) {\n    info += \"Position = \" + (receivedData[7] * 255 * 255 * 255 + receivedData[6] * 255 * 255 + receivedData[5] * 255 + receivedData[4]);\n    info += \"\\nRev = \" + (receivedData[7] * 255 * 255 * 255 + receivedData[6] * 255 * 255 + receivedData[5] * 255 + + receivedData[4])/16384;\n}\n\nmsg.payload = info;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 640,
        "wires": [
            [
                "3f341dbf873ed7ce"
            ]
        ]
    },
    {
        "id": "c2d5e2145ae9daac",
        "type": "debug",
        "z": "daff2f73.bd09f",
        "g": "89954bf5fb7c3f9b",
        "name": "debug 27",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 440,
        "y": 680,
        "wires": []
    },
    {
        "id": "53a99ea1581b194e",
        "type": "json",
        "z": "daff2f73.bd09f",
        "g": "89954bf5fb7c3f9b",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 430,
        "y": 640,
        "wires": [
            [
                "86b7f7ca16efe2b6"
            ]
        ]
    },
    {
        "id": "342962821bb94933",
        "type": "websocket-listener",
        "path": "ws://192.168.0.100:31768/ws/tdce/can-b/data",
        "wholemsg": "false"
    }
]